In [2]:
#all imports here
import pandas as pd
import numpy as np
import os

In [4]:
os.chdir('C:\\Program Files\\AIML PG')

In [249]:
data_set = pd.read_csv('Laliga.csv')
data_set.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [250]:
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

data_set.replace(to_replace='-',value=0,inplace=True)
data_set.sample(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10

In [251]:
# Print all the teams which have started playing between 1930-1980.

data_set[data_set.Debut.apply(lambda x:(int(x[0:4])>=1930 and int(x[0:4])<=1980))][['Team','Debut']]

                   Team    Debut
3              Valencia  1931-32
5               Sevilla  1934-35
8              Zaragoza  1939-40
9            Real Betis  1932-33
10  Deportivo La Coruna  1941-42
11           Celta Vigo  1939-40
12           Valladolid  1948-49
14       Sporting Gijon  1944-45
15              Osasuna  1935-36
16               Malaga  1949-50
17               Oviedo  1933-34
18             Mallorca  1960-61
19           Las Palmas  1951-52
21              Granada  1941-42
22       Rayo Vallecano  1977-78
23                Elche  1959-60
25             Hercules  1935-36
26             Tenerife  1961-62
27               Murcia  1940-41
28               Alaves  1930-31
29              Levante  1963-64
30            Salamanca  1974-75
31             Sabadell  1943-44
32                Cadiz  1977-78
34            Castellon  1941-42
37              Cordoba  1962-63
39           Recreativo  1978-79
40            Burgos CF  1971-72
41           Pontevedra  1963-64
46            Gimnastic  1947-48
49             Alcoyano  1945-46
50                 Jaen  1953-54
52           AD Almeria  1979-80
54               Lleida  1950-51
57               Condal  1956-57
58      Atletico Tetuan  1951-52
59     Cultural Leonesa  1955-56

In [252]:
# Print the list of teams which came Top 5 in terms of points

data_set.astype({'Points':int},copy=False).nlargest(5,'Points')[['Team','Points']]

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

In [253]:
# Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.
# Goal_diff_count = GoalsFor - GoalsAgainst

def Goal_diff_count(GoalsFor,GoalsAgainst):
    return(GoalsFor-GoalsAgainst)

print('Teams with goal difference')
new_df=data_set.assign(Goal_diff=data_set.GoalsFor.astype(int).pipe(Goal_diff_count,data_set.GoalsAgainst.astype(int)))[['Team','Goal_diff']]
print(new_df)
print()
print('Maximum goal difference team')
print(new_df.nlargest(1,['Goal_diff']))
print()
print('Minimum goal difference team')
print(new_df.nsmallest(1,['Goal_diff']))

Teams with goal difference
                   Team  Goal_diff
0           Real Madrid       2807
1             Barcelona       2786
2       Atletico Madrid       1225
3              Valencia        929
4       Athletic Bilbao        931
5               Sevilla        307
6              Espanyol       -280
7         Real Sociedad         -2
8              Zaragoza       -164
9            Real Betis       -333
10  Deportivo La Coruna       -136
11           Celta Vigo       -346
12           Valladolid       -413
13     Racing Santander       -525
14       Sporting Gijon       -399
15              Osasuna       -334
16               Malaga       -342
17               Oviedo       -309
18             Mallorca       -189
19           Las Palmas       -399
20           Villarreal        103
21              Granada       -338
22       Rayo Vallecano       -328
23                Elche       -272
24               Getafe       -113
25             Hercules       -334
26             Tenerife       -125
27               Murcia       -385
28               Alaves       -165
29              Levante       -202
..                  ...        ...
31             Sabadell       -228
32                Cadiz       -269
33             Logrones       -198
34            Castellon       -169
35             Albacete        -90
36              Almeria       -122
37              Cordoba       -145
38           Compostela        -42
39           Recreativo        -94
40            Burgos CF        -94
41           Pontevedra        -56
42             Numancia        -98
43                Eibar        -28
44               Arenas        -81
45          Real Burgos        -38
46            Gimnastic       -114
47          Extremadura        -55
48               Merida        -45
49             Alcoyano       -107
50                 Jaen        -62
51           Real Union        -31
52           AD Almeria        -45
53               Europa        -34
54               Lleida       -112
55              Leganes        -19
56                Xerez        -28
57               Condal        -20
58      Atletico Tetuan        -34
59     Cultural Leonesa        -31
60               Girona          0

[61 rows x 2 columns]

Maximum goal difference team
          Team  Goal_diff
0  Real Madrid       2807

Minimum goal difference team
                Team  Goal_diff
13  Racing Santander       -525

In [254]:
#Create a new column with name “Winning Percent” and append it to the data set
#Percentage of Winning = (GamesWon / GamesPlayed)*100
#If there are any numerical error, replace it with 0%
#Print the top 5 teams which has the highest Winning percentage

data_set=data_set.assign(Winning_Percent=lambda x :(x.GamesWon.astype(int)/x.GamesPlayed.astype(int))*100).fillna(0)
data_set.nlargest(5,['Winning_Percent'])[['Team','Winning_Percent']]

              Team  Winning_Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

In [255]:
#Group teams based on their “Best position” and print the sum of their points for all positions

data_set[['BestPosition','Points']].astype({'Points':int}).groupby('BestPosition',axis=0).sum()

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34